*~
*.swp
*.log
.DS_Store
*.pyc
__pycache__
test/gen_tests
test/*/*_out
tmp
bak
dist
lib/annovar/*
resource/annovar_db
resource/lookup_file_workshop
resource/old_versions
resource/scratch/
make_package.sh
TODO
hg19*
resource/count.txt
doc/_build
doc/old
doc/Makefile
