# Misc OS and tool temp files and whatnot.
*~
*.swp
*.log
.DS_Store
*.pyc
__pycache__

# Backup and temp files I use.
TODO
tmp
bak
dist
make_package.sh
hg19*

# Don't track Annovar in this repo.
lib/annovar/*

# Doc files.
doc/_build
doc/old
doc/Makefile

# Resource directory files not to track
resource/annovar_db
resource/lookup_file_workshop
resource/old_versions
resource/scratch/
resource/README.rst
resource/count.txt

# Misc test directory stuff not to track
test/gen_tests
test/*/*_out
